<div class="center jumbotron">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <h1>blog site</h1>
  </div>
</div>
<%= link_to "Sign Up Now!", "#", class: "btn btn-danger btn-xlarge" %>
</div>
