$navbar-default-bg: #8B4513;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('IMG_7114.JPG');
  background-size: cover;
  height: 550px;
  background-position: bottom;
}

.jumbotron h1 {
  color: #8B4513;
  font-family: cursive;
  background-color: tan;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: tan;
  border: none;
  font-family: cursive;
  color: #8B4513;
  padding:0;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: maroon;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  padding: 15px 0;
  border-top: 1px solid #eaeaea;
}
